// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dateJobHomepage {
	font-size: 0.9em; 
	margin-right: 6px;
}

.titleJobHomepage {
	font-size: 1.3em;
	font-weight: bold;
}

.salaryJobHomepage {
	font-size: 1.3em;
	margin-left: 15px;
	color: #336699;
}